<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/gif/png" href="/api/public/sources/production/images/logo.png">
    
    <title> Afficher Shifts </title>
    <!-- Bootstrap -->
    <link href="/api/public/sources/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/api/public/sources/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="/api/public/sources/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="/api/public/sources/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- Datatables -->
    <link href="/api/public/sources/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="/api/public/sources/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="/api/public/sources/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="/api/public/sources/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="/api/public/sources/build/css/custom.min2.css" rel="stylesheet">
    <link rel="shortcut icon" href="/api/public/sources/production/images/logo2.png" type="image/x-icon">         
</head>

<body class="nav-md">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>
        var token = localStorage.getItem('token');
        if (token != null || token != undefined) {
            $.ajaxSetup({
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('authorization', 'bearer ' + token);
                }
            });
        }

        $.ajax({
            type: "GET",
            url: "/api/token",
            success: function () {
                show = true;
            },
            error: function () {
                window.location.replace("/api/login");
            },
            async: false
        })


        if (show) {
            $(document.body).show();
        }
    </script>
        <!-- pour la gestion des accès et obtention de la personne connectée -->
        <script>
            
            var logged = JSON.parse(localStorage.getItem('logged'));
            if (logged.fonction != "Planificateur") {
                window.location.replace("/api/echec");
            }
    
        </script>
        <!-- fin de la gestion des accés -->
        <script src="/socket.io/socket.io.js"></script>
        <script>
            socket = io.connect('http://localhost:3000', { query: 'fonction='+logged.fonction});
            socket.emit('viewAllMessages');
            socket.on('messages', function (newMessage) {
                $.toaster({ priority: 'danger', title: 'Nouveau Message', message: newMessage.text });
                socket.emit('messageRecu', newMessage);
                // mise à jour des derniers messages
                socket.emit('viewAllMessages'); 
            })
        </script>
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="http://www.swissport.com" class="site_title"><img src="/api/public/sources/production/images/logo2.png" alt="Smiley face" style="float:left;width:42px;height:42px;margin-top:8px;margin-left:25px">  <span>   Swissport </span></a>
                    </div>
                    <div class="clearfix"></div>
                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="/api/public/sources/production/images/user.png" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                                <span><font color="#bdbdbd" > Bienvenu(e)  </font></span>
                            <h2>
                                <script type="text/javascript">
                                    document.write(logged.nom)
                                </script>
                                <script type="text/javascript">
                                    document.write(logged.prenom)
                                </script>
                            </h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->
                    <br />
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <ul class="nav side-menu">
                                <li><a href="/api/listePlanning"><i class="fa fa-home"></i> Liste des Plannings</a>
                                </li>
                                <li><a href="/api/upload"><i class="fa fa-edit"></i> Ajouter un Planning </a>
                                </li>
                                <li><a href="/api/ajouterShift"><i class="fa fa-edit"></i> Ajouter des Shifts </a>
                                </li>
                                <li><a href="/api/listeShift"><i class="fa fa-desktop"></i> Liste des Shifts</a>
                                </li>
                                
                                <li><a href="/api/listeAgPl/Agent"><i class="fa fa-desktop"></i> Liste des agents</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    
                    <!-- /menu footer buttons -->
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img src="/api/public/sources/production/images/user.png" alt=""><script type="text/javascript">
                                    document.write(logged.nom)
                    </script> <script type="text/javascript">
                        document.write(logged.prenom)
                    </script>
                    <span class=" fa fa-angle-down"></span>
                  </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li> <a href="/api/monProfilePl"> Mon profil </a> </li>

                                    <li><a href="/api/login"><i class="fa fa-sign-out pull-right"></i> Déconnexion </a></li>
                                </ul>
                            </li>
                            <li role="presentation" class="dropdown">
                                <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-envelope-o"></i>
                    <script>
                        socket.on('allMessages',function(messages){
                            var myMessages=document.getElementById("myMessages");
                            myMessages.innerHTML='<div id="myMessages"></div>'
                            var  NbmsgToDisplay=6;
                            if (NbmsgToDisplay >messages.length){
                                NbmsgToDisplay=messages.length;
                            }
                                for (var i=0;i<NbmsgToDisplay;i++){
                                    myMessages.innerHTML +='<div id="myMessages"><li><a><span class="message">'+ messages[i].text+' </span> </a></li></div>'
                            }
                            var nb=document.getElementById('nbMsg');
                            var x=messages.length;
                            nb.innerHTML += ' <span class="badge bg-green" >'+x+'</span>'
                        });
                        </script>
                        <div id="nbMsg"></div>
              </a>
                            <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">                           
             
                            <div id="myMessages"></div>

                                    <li>
                                        <div class="text-center">
                                            <a href="/api/listeMessage"> 
                                  <strong>Voir tous les messages</strong>
                                  <i class="fa fa-angle-right"></i>
                              </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                        <div class="page-title">
                                <div class="title_left">
                                        <h3><font color="#be302d" > Afficher la liste des shifts </font> <small></small></h3>
                                </div>
        
        
                            </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                 <!-- début title -->
                                 <div class="x_title">
                                        <h2>Shifts</h2>
                                        <ul class="nav navbar-right panel_toolbox">
                                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                            </li>
    
                                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                                            </li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                    <!-- fin title -->
                                <!-- début x_content-->
                                <div class="x_content ">
                                    <p class="text-muted font-13 m-b-30">
                                      <button type="button" class="btn btn-success btn-sm"><a href="/api/ajouterShift"><font color="white" > Ajouter Shifts  </font></a></button>
                                    </p>
                    
                                    <table id="datatable" class="table table-striped table-bordered  ">
                    
                                      <thead>
                    
                                        <tr>
                    
                                          <th>Code</th>
                                          <th>Heure Début</th>
                                          <th>Heure Fin</th>
                                          
                                        </tr>
                                      </thead>
                    
                                      <tbody>
                                        
                                          <tr>
                                            <td>
                                             code1
                                            </td>
                                            <td>
                                              heure Début1
                                            </td>
                                            <td>
                                              heure Fin 1
                                            </td>
                                            
                    
                                            
                                            <!-- la méthode delete -->
                    
                                            <script>
                                              $('.btn-danger').on('click', function (event) {
                                                event.preventDefault();
                                                var user_choice = window.confirm('Voulez-vous vraiment supprimer cet élément ? ');
                                                if (user_choice == true) {
                    
                                                  var id = $(this).attr('name');
                    
                                                  $.ajax({
                                                    type: 'DELETE',
                                                    url: '/api/supprimerProfilAg/' + id,
                                                    success: function (data) {
                                                      location.reload();
                                                    }
                                                  })
                                                }
                                                else {
                                                  return false;
                                                }
                                              });
                                            </script>
                                            <!-- fin de la méthode delete -->
                    
                                          </tr>
                    
                    
                                      </tbody>
                                    </table>
                                  </div>
                                <!--fin x_content-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Swissport 2017 - <a href="http://www.swissport.com/">Swissport</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
    <!-- jQuery -->
    <script src="/api/public/sources/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/api/public/sources/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="/api/public/sources/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="/api/public/sources/vendors/nprogress/nprogress.js"></script>
    <!-- iCheck -->
    <script src="/api/public/sources/vendors/iCheck/icheck.min.js"></script>
    <!-- Datatables -->
    <script src="/api/public/sources/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/api/public/sources/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="/api/public/sources/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/api/public/sources/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="/api/public/sources/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="/api/public/sources/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/api/public/sources/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/api/public/sources/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/api/public/sources/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="/api/public/sources/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="/api/public/sources/jquery.toaster.js"></script>    
    <!-- Custom Theme Scripts -->
    <script src="/api/public/sources/build/js/custom.min.js"></script>
</body>

</html>