<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/gif/png" href="/api/public/sources/production/images/logo.png">
  <link rel="shortcut icon" href="/api/public/sources/production/images/logo2.png" type="image/x-icon">     
  

  <title> ERREUR| </title>

  <!-- Bootstrap -->
  <link href="/api/public/sources/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Font Awesome -->
  <link href="/api/public/sources/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <!-- NProgress -->
  <link href="/api/public/sources/vendors/nprogress/nprogress.css" rel="stylesheet">

  <!-- Custom Theme Style -->
  <link href="/api/public/sources/build/css/custom.min.css" rel="stylesheet">
</head>

<body class="nav-md">
  <div class="container body">
    <div class="main_container">
      <!-- page content -->
      <div class="col-md-12">
        <div class="col-middle">
          <div class="text-center text-center">

            <div class="mid_center">
              <br> </br>
              <br> </br>
              <br> </br>


              <h1 class="error-number"> <font color="#424242" > 404 ! </font> </h1>
              <h2> <font color="#424242" > Page non trouvée !  </font> </h2>



              <!--<form>
                  <div class="col-xs-12 form-group pull-right top_search"> -->

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /page content -->
  </div>
  </div>

  <!-- jQuery -->
  <script src="/api/public/sources/vendors/jquery/dist/jquery.min.js"></script>
  <!-- Bootstrap -->
  <script src="/api/public/sources/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- FastClick -->
  <script src="/api/public/sources/vendors/fastclick/lib/fastclick.js"></script>
  <!-- NProgress -->
  <script src="/api/public/sources/vendors/nprogress/nprogress.js"></script>

  <!-- Custom Theme Scripts -->
  <script src="/api/public/sources/build/js/custom.min.js"></script>
</body>

</html>